
  hosts: localhost
  gather_facts: false
  
  tasks:
    - name: Pull image
      community.docker.docker_image_pull:
        name: grafana
        tag: 2.15.0

    - name: Start container
      community.docker.docker_container:
        cleanup: False
        detach: True
        image: grafana:2.15.0
        name: ecommerce-website
        output_logs: true
        
    - name: Create or update a Grafana user
      community.grafana.grafana_user:
        url_username: admin
        url_password: admin
        login: Admin
        password: password
        is_admin: true


    - name: Show output
      ansible.builtin.debug:
        msg: "{{ output.container.Output }}"
